<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bride</title>
</head>
<body style="background-color: black;">

        <div class="navbar">
        <div class="brand-logo">
           <img  src="/public/images/logo.png" alt="">
        </div>
        <br>
        <div class="brand-tittle">
            <h1>Admin Pannel</h1>
        </div>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#Home">All Products</a></li>
                <li><a href="#founders">All Orders</a></li>
                <li><a href="#Gallery">All Users</a></li>
                <li><a href="#Location">Contact</a></li>
            </ul>
        </div>
    </div>    

</body>
</html>