<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bride</title>
</head>
<body style="background-color: black;">
        <div class="navbar">
        <div class="brand-logo">
           <img src="images/logo.png" alt="">
        </div>
        <br>
        <div class="brand-tittle">
            <h1>Bride</h1>
        </div>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#founders">About Us</a></li>
                <li><a href="#Gallery">Shop</a></li>
                <li><a href="#Location">Contact</a></li>
                <a href="" style="text-decoration:none ;">
                 <img class="cart-img" src="images/cart.png" alt="">
                 <p style="color:#fff;margin-left:60px;margin-top: 10px;">Cart</p>
                </a>
                 <a href="/loging" style="text-decoration:none;">
                  <img class="cart-img" src="images/loging.png" alt="">
                 <p style="color:#fff;margin-left:20px;margin-left:50px;margin-top: 10px;" >Loging</p>
                 </a>
                
            </ul>
          {{!-- dropdown --}}
       




    

        </div>
    </div>    
</body>
</html>