body
{
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100%; 
  
    
}

.navbar
{
    display: flex;
    justify-content: space-between;
     background-color: #333;
    color: #fff;
    height: 100px;
    

}
.brand-logo {
    margin-left: 50px;
}

.brand-tittle
{
    font-size: 1.5rem;
    margin: -7.5rem;

}
.navbar-links
{
    margin-right: 170px;
}
.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li
{
    list-style: none;
}
.navbar-links li a
{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    
}

.bridal-collections {
    font-family: revert;
    font-weight: bold;
}

.right-section {
    width: 50%;
    height:100%;
    float: left;
    color: #fff;
    justify-content: center;
    margin-top: 160px;
    text-align: center;
    text-decoration: none;

}
.cart-img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.left-section {
    width: 50%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}
.banner-img {
    height: 470px;
    margin-left: 175px;
}


.banner-btn {
    width: 90px;
    border-radius: 22px;
    border: none;
    transition: 0.3s ease;
    font-size: 14px;
    height: 35px;
    background-color: bisque;
    opacity: 0.8;
    color: black;
}
.banner-btn:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #DD0004; 
    box-shadow:0 0 5px #DD0004,
               0 0 20px #DD0004,
               0 0 60px #DD0004,
               0 0 150px #DD0004;
}
.shoping-section {
    display: flex;
    margin-left: 100px;
    
}
.weding-dress {
    margin-left: 60px;
    text-align: center;
    color: white;
    margin-top: 100px;
}
.weding-img {
    width: 265px;
    height: 346px;
}
.shop-btn{
    background-color:bisque;
    color: #000;
    border-radius: 10px ;
}
.logo-section {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
}


.about-section {
    text-align: center;
    color: #ffff;
    margin-top: 50px;
}
.about-p {
    text-align: center;
    width: 500px;
    margin-left: 400px;
}
.service-icon {
    color: #fff;
    width: 28px;
    height: 80px;
    display: flex;
    gap: 180px;
    margin-left: 300px;
    margin-top: 30px;
}

.service-text {
    color: #fff;
    display: flex;
    gap: 150px;
    margin-left: 300px;
}
.last-banner {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
.social-midia {
    display: flex;
    width: 10px;
    height: 30px;
    gap: 30px;
    margin-left: 550px;
    
}

/* contact */

.contact {
    text-align: center;
    color: #fff;
    
}
.map {
    margin-top: 20px;
    border-radius: 20px;
}
.form {
    display: flex;
    width: 20;
    height: 40px;
    gap: 150px;
    justify-content: center;
    margin-top: 30px;
}
.form-text {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 30px;
}
.adress {
    margin-left: 30px;
}

.contact-form
{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    
    
}
.contact-form h1
{
    margin-bottom: 10px;
    
}
.contact-form-text
{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    
    
    


}
.contact-form-text::placeholder
{
    color: #aaa;


}



.contact-form-textarea
{
    width: 37%;
    height: 160px;
    color: #000;
    border: 4px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 13px;
    justify-content: center;
    margin-left: 139px;
    
    

}
.contact-form-textarea::placeholder
{
    color: #aaa;

    
}
.contact-form-btn
{
    width: 130px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #8e2de2;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    


}