
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bride</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body style="background-color: black;">  
     <!-- navbar -->

  
 
     <!-- banner-sections -->

     <div class="right-section">
        <h1 class="bridal-collections">Bridal collections</h1>
        <p>Enjoy The Beutifull Momments</p>
        <br>
        <a href="/Productbanner">
        <button  class="banner-btn">Shop Now</button>
        </a>
    </div>


    <div class="left-section">
         <img class="banner-img" src="images/photo_2022-10-08_15-54-08.jpg" alt="">
    </div>


  

  <!-- manePrducts --> 
<div class="logo-section">
    <img src="images/logo.png" alt="">
    <br>
    <h2>Our Products</h2>
</div>

<div class="shoping-section">
    <div class="weding-dress">
    <img class="weding-img" src="images/wedingDress" alt="">
    <p>Wedding Dress</p>
    <a href="/Productbanner">
    <button class="shop-btn">Shop Now</button>
      </a>
    </div>

    <div class="weding-dress">
        <img class="weding-img" src="images/weding-accers.jpg" alt="">
        <p>Wedding Dress</p>
        <a href="/Productbanner">
        <button class="shop-btn">Shop Now</button>
        </a>
        </div>

        <div class="weding-dress">
            <img class="weding-img" src="images/makeup.jpg" alt="">
            <p>Wedding Dress</p>
            <a href="/Productbanner">
            <button class="shop-btn">Shop Now</button>
            </a>
            </div>

</div> 

  <!-- about section -->

<div class="about-section">
    <h2>About Us</h2>
   <div class="about-p">
    <p>ndustry. Lorem Ipsum has been the industry s standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. It has survived not only five centuries,
         but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing 
          Lorem Ipsum passages, and more recently with desktop publishing software like
           Aldus PageMaker including versions of Lorem Ipsum.
        </p>
   </div>
   
</div>

<div class="service-icon">

    <img  src="images/icons8-delivery-50.png"  alt="">
    <img src="images/serviceicon" alt="">
    <img src="images/makeupicon" alt="">
</div>
<br>
<div class="service-text">
    <p>Home Delivery</p>
    <p>24*7 support</p>
    <p>Make Up Service</p>
</div>


<!-- contsct-section -->

<div class="contact">
    <h1>Contact Us</h1>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15652.951058866247!2d76.298549!3d11.243912!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5eed29147a2f5d5b!2sAmarambalam%20Grama%20Panchayat%20Office!5e0!3m2!1sen!2sin!4v1650817127297!5m2!1sen!2sin"
    width="600" height="300" style="border:0;"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>


<div class="form">
    <img src="images/chaticon.png" alt="">
    <img src="images/location.png" alt="">
    <img src="images/meassage.png" alt="">
</div>
<br>
<div class="form-text">
    <p>Lets Chat <br> 544454644</p>
    <p class="adress">28 Elmwood Drive,<br> Ypsilanti,mi, 48193 <br> United States</p>
    <p>demo@mail.com</p>
</div>


<!-- contact section -->

<div class="contact-form">
    <form>
        <input type="text" placeholder="Name" class="contact-form-txt">
             <br>
             <br>
        <input type="text" placeholder="Email" class="contact-form-txt">
        <br>
        <br>
     
        <textarea placeholder="Message" class="contact-form-textarea"></textarea>
    
    </form>
    <input type="submit" name="Submit" class="contact-form-btn">
</div>




<!-- last-section -->
<div class="last-banner">
    <h3>Bride</h3>
    <p>All Copyright reseaved By Bride</p>
</div>
<div class="social-midia">
    <img src="images/insta.png" alt="">
    <img src="images/fasebook.png" alt="">
    <img src="images/linkedin.png" alt="">
</div>

 

    
</body>
 
</html>