<section>
         <div  class="container  ">
        <div class="row">
            <div class="col-md-3 mt-5">
                <div class="card" style="width: 14rem; height:25rem;">
   <img style="height: 200px;" src="https://images.unsplash.com/photo-1643185450492-6ba77dea00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    
  <div class="card-body">
    <h5 class="card-title">Golden</h5>
    <p class="cart-text">Rs.190</p>
    <p class="card-text">csvsjvcws wswejfwef</p>
    <a href="#" class="btn btn-primary">Add To Cart</a>
  </div>

</div>
      </div>
    
            </div>


                    <div class="row">
            <div class="col-md-3 mt-5">
                <div class="card" style="width: 14rem; height:25rem;">
   <img style="height: 200px;" src="https://images.unsplash.com/photo-1643185450492-6ba77dea00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    
  <div class="card-body">
    <h5 class="card-title">Golden</h5>
    <p class="cart-text">Rs.190</p>
    <p class="card-text">csvsjvcws wswejfwef</p>
    <a href="#" class="btn btn-primary">Add To Cart</a>
  </div>

</div>
      </div>
    
            </div>


                    <div class="row">
            <div class="col-md-3 mt-5">
                <div class="card" style="width: 14rem; height:25rem;">
   <img style="height: 200px;" src="https://images.unsplash.com/photo-1643185450492-6ba77dea00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    
  <div class="card-body">
    <h5 class="card-title">Golden</h5>
    <p class="cart-text">Rs.190</p>
    <p class="card-text">csvsjvcws wswejfwef</p>
    <a href="#" class="btn btn-primary">Add To Cart</a>
  </div>

</div>
      </div>
    
            </div>



        </div>
        </div>
    </section>



    <style>

      .container{
        overflow: hidden;
        margin-top: -10px;
        display: flex;
        justify-content: center;
        gap: 150px;
        border: 10px;
        font-weight: bold;

      }
 
    </style>